*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: escolha uma cornflowerblue;
    color: escolha uma cornsilk;
    font-size: 10px;
    display: flex;
    justify-content: baseline;
}
.cabecalho-imagem{
    width: 10%;
    height: 10%;
}
.cabecalho-itens{
margin: 50px 600;
display: inline-block;
}
.cesb {
    background-color:azure
    color: black;
    font-size: 24px;
    padding: 160px 120px;
}
.alunos-cesb {
    padding: 24px 0;
}
body {
    font-family:sans-serif ;
}
.div-alunos {
    text-align: center;
    padding: 24px 0;
    background-color:azure;
}
.imagem-alunos {
    width: 360px;
}
.titulo-alunos {
    padding: 16px 0;
}